<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uca.firebasetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirebaseLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaginaPrincipal"
            android:label="Inventario UCA - Aeropuerto de Valencia" />
        <activity
            android:name=".Manual"
            android:label="Introducir datos manualmente" />
        <activity
            android:name=".Buscar"
            android:label="Buscar por Código" />
        <activity
            android:name=".Informes"
            android:label="Buscar por Ubicación" />
        <activity android:name=".QRScanner" />
        <activity
            android:name=".Intercambiar"
            android:label="Intercambiar Dispositivos" />
        <activity
            android:name=".AltaBaja"
            android:label="Alta y Baja de Dispositivos" />
        <activity android:name=".AltaBajaUbicaciones"
            android:label="Alta y Baja de Ubicaciones"></activity>
    </application>

</manifest>